.group-image {
  width: 80px;
  height: 80px;
  margin: 10px auto;
}

.label-container {
  padding: 16px;
  ion-label {
    padding-left: 4px;
  }
}

.contacts-list {
  position: absolute;
  top: 196px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 0 4px 16px;
}

.contact-item {
  width: 72px;
  height: 68px;
  padding: 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  ion-avatar {
    width: 44px;
    height: 44px;
    margin: 4px auto 0;
  }
  ion-text {
    margin-bottom: 4px;
  }
}

#line-brake {
  height: 2px;
  background-color: #aaa;
  margin: 0 20px;
}

ion-icon {
  --ionicon-stroke-width: 48px;
}
