<ion-grid class="ion-margin">
  <ion-row>
    <ion-col class="ion-align-items-center">
      <ion-icon
        src="assets/icon/shop/ic_shop_intro_logo.svg"
        style="width: 80px; height: 46px"
      ></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-align-items-center">
      <ion-text class="ion-text-wrap">
        <b>All you need to sell online</b>
        <p class="ion-justify-content-center">
          With Ofaly.Shop you can create a shop to sell products and services to
          your customers. <br />
        </p>
        <p>If you are not interested in selling, no need to go any further.</p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button
        (click)="submit()"
        class="round-button"
        color="green"
        expand="full"
        fill="outline"
        shape="round"
      >
        <ion-label>Start selling now</ion-label>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
