.message-body {
  white-space: pre-wrap;
  color: black;
  line-height: 20px;
}

.pending {
  background-color: rgb(255, 234, 227);
  --background: rgb(255, 234, 227);
}

.child-message {
  width: 100%;
  text-align: start;
  padding: 0 16px 11px 68px;
}

.ripple-parent {
  position: relative;
  overflow: hidden;
}

.avatar-top {
  width: 36px;
  margin-right: 16px;
  ion-avatar {
    width: 36px;
    height: 36px;
  }
}

#time-note {
  float: right;
}
