<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button color="medium">
      <ion-icon name="add-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-textarea
    [(ngModel)]="draft"
    (ionFocus)="keyboardUp.emit()"
    rows="1"
    autoGrow
    autofocus
    spellcheck
    placeholder="Type a message"
  >
  </ion-textarea>

  <ion-buttons slot="end">
    <ion-button *ngIf="draft.trim(); else noDraft" (click)="send()">
      <ion-icon name="send" color="success"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ng-template #noDraft>
    <ion-button color="medium">
      <ion-icon name="camera-outline" slot="icon-only"></ion-icon>
    </ion-button>

    <ion-button color="medium">
      <ion-icon name="mic-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ng-template>
</ion-toolbar>
