<ion-header>
  <ion-toolbar *ngIf="pageIndex" color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" mode="ios">{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides #slides [style]="getSlideStyle()">
    <ion-slide style="height: 100%">
      <app-shop-intro></app-shop-intro>
    </ion-slide>
    <ion-slide>
      <app-shop-type></app-shop-type>
    </ion-slide>
    <ion-slide>
      <app-shop-details style="width: 100%"></app-shop-details>
    </ion-slide>
  </ion-slides>
</ion-content>
